.menu{
    height: 112px;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #9de1ff;
    justify-content:center;
    gap: 60px;
    z-index: 10;
    padding-right: 10px;
}

#logo{
    width: 140px;
    height: 150px;
}   

#nome{
    width: 400px;
    height: 40px;
    color: rgb(0, 33, 76);
    background-color: white;
}

.menu ul{
    display: inline-flex;
    width: 50%;
    justify-content: space-evenly;
}

.menu ul li{
    color: #000;
    font-weight: 600;
    font-size: 20px;
    height: 33px;
    transition: .4s;
}

.menu ul li:hover{
    color: #164496;
    transform: scale(1.05);
    border-bottom: 2px solid #0c3883;
}

#comprar{
    border: 2px solid #0c3883;
    outline: transparent;
    background-color: #0c3883;
    color: #ffff;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    transition: .4s;
}

#comprar:hover{
    transform: scale(1.05);
    background: #ffff;
    border: 2px solid #0c3883;
    color: #0c3883;
    cursor: pointer;
}

#icons-header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-wpp{
    width: 50px;
    border: 2px solid #0c3883;
    border-radius: 50%;
    padding: 8px;
    overflow-clip-margin: border-box;
    transition: .4s;
}

.header-wpp:hover{
    transform: scale(1.1);
    border: 2px solid white;
    cursor: pointer;
    content: url("../assets/icons-rede-social/wppwhite.png");
}

.header-ig{
    width: 50px;
    border: 2px solid #0c3883;
    border-radius: 50%;
    padding: 8px;
    overflow-clip-margin: border-box;
    transition: .4s;
}

.header-ig:hover{
    transform: scale(1.1);
    border: 2px solid white;
    cursor: pointer;
    content: url('../assets/icons-rede-social/instagram.png');
}

 
.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #0c3883;
    cursor: pointer;
 }

 .hamburguer::before,
 .hamburguer::after {
   content: '';
   display: block;
   width: 30px;
   height: 3px;
   background: #0c3883;
   margin-top: 5px;
   position: relative;
 }

@media only screen and (max-width:1100px) {
    .menu {
        gap: 10px;
    }
}

@media only screen and (max-width:850px) {

    .hamburguer {
        display: block;
        z-index: 5;
     }
     
     .menu.active .hamburguer {
        border-top: transparent;
     }  
  
     .menu.active .hamburguer::before {
        transform: rotate(135deg);
        background: #fff;
     }
  
     .menu.active .hamburguer::after {
        transform: rotate(-135deg);
        background: #fff;
        top: -7px;
     }

    .menu {
        justify-content: space-between;
    }

    .menu #comprar, .menu #icons-header {
        display: none;
    }

    .menu ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        z-index: 3;
        background-color: rgba(51, 107, 153, 0.702);

        clip-path: circle(100px at 100% -25%);
        pointer-events: none;
        transition: .4s;
    }

    .menu ul a li {
        color: #fff;
        opacity: 0;
    }

    .menu.active ul {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }

    .menu.active ul a li {
        opacity: 1;
     }
}