.menu{
    height: 112px;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #9de1ff;
    justify-content: space-around;
    gap: 60px;
    z-index: 10;   
}

#logo{
    width: 140px;
    height: 150px;
}   

#nome{
    width: 400px;
    height: 40px;
    color: rgb(0, 33, 76);
    background-color: white;
}

.menu ul{
    display: inline-flex;
    width: 50%;
    justify-content: space-between;
}

.menu ul li{
    color: #000;
    font-weight: 600;
    font-size: 20px;
    transition: .4s;
}

.menu ul li:hover{
    color: #164496;
    transform: scale(1.05);
    border-bottom: 2px solid #0c3883;
}

#comprar{
    border: 2px solid #0c3883;
    outline: transparent;
    background-color: #0c3883;
    color: #ffff;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    transition: .4s;
}

#comprar:hover{
    transform: scale(1.05);
    background: #ffff;
    border: 2px solid #9de1ff;
    color: #0c3883;
}

.menu div{
    width: 50px;
    height: 50px;
    border: 2px solid #0c3883;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .4s;
}

.menu div:hover{
    background-color: #0c3883;
}

.menu div img{
    width: 50px;
    transition: .4s;
    padding: 10px;
}

.menu div img:hover{
    content: url("../assets/icons-rede-social/wppwhite.png");
}


