main {
    height: auto;
    padding-top: 100px;
}

.banner-home {
    overflow: hidden;
    height: 700px;
    background: url('../assets/bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.black-friday-banner{
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
@media only screen and (max-width:850px){
    .black-friday-banner {
        height: 100%;
        width: auto;
    }

    .banner-home {
        height: 400px;
    }
}