main {
    display: flex;
    justify-content: center;
    padding-top: 112px;
    height: 100vh;
}
.container-hotel6{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 30px;
    padding: 30px 0;
    height: min-content;
}   
.img-hotel-principal{
    width: 621px;
    border-radius: 10px;
    position: absolute;
    left: 132px;
    top: 142px;
    margin-left: 3px;
}
.img-hotel-1{
    width: 403px;
    height: 250px;
    border-radius: 10px;
    position: absolute;
    left: 756px;
    top: 142px;
    margin-left: 3px;
}
.img-hotel-2{
    width: 200px;
    height: 160px;
    border-radius: 10px;
    position: absolute;
    left: 756px;
    top: 393px;
    margin-left: 3px;
    margin-top: 3px;
}
.img-hotel-3{
    width: 200px;
    height: 160px;
    border-radius: 10px;
    position: absolute;
    left: 957px;
    top: 393px;
    margin-left: 6px;
    margin-top: 3px;
}

.container-info-hotel {
    width: 80%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 30px;
    padding: 30px 0;
    height: min-content;
}

.pousada-alto-boa-vista {
    width: 301px;
    height: 420px;
    /* background-color: #fff; */
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1147px;
    top: 140px;
}

.info-hotel-boa-vista {
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-hotel-boa-vista  h2 {
    color: #FFB93F;
    font-size: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

.local, .valor-nota, .valor {
    display: flex;
    text-align: center;
    gap: 5px;
    align-items: center;
}

.local p {
    text-align: start;
}

.valor-nota {
    justify-content: space-between;
}

.img-icon-text {
    width: 35px;
    height: 30px;
}

.button {
    border-radius: 25px;
    background-color: #FFB93F;
    border: none;
    outline: none;
    font-size: 22px; 
    color: #00214C;
    font-weight: 700;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.button:hover {
    transform: translateX(-50%) scale(1.05);
}