#destaques{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#destaques .vertical{
    font-weight: 700;
    font-size: 4.375rem;
    writing-mode: tb;
    cursor: default;
    transform: translate3d(1e-05px, 16px, 1e-05px) rotate(180deg);
}

.container-promo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-card{
    width: 316px;
}

.card{
    background-color: #17a3dd;
    border-radius: 10px;
    display: block;
    padding: 20px;
    box-shadow: 22px -16px 30px 0px rgba(0, 0, 0, 0.1);
    transition: .4s;
}

.card:hover{
    transform: scale(1.1);
}

#card-hotel1{
    background-image: url(../assets/hoteis/hotel6.jpg);
}
#card-hotel2{
    background-image: url(../assets/hoteis/hotel2.jpg);
}
#card-hotel3{
    background-image: url(../assets/hoteis/hotel4.jpg);
}

.img-card{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    height: 150px;
    margin-bottom: 20px;
}

.texto h4{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 130%;
    color: white;
    margin: 0 0 12px;
}

.texto p{
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -.02em;
    color: white;
    margin: 0;
}

.valor span{
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 150%;
    color: white;
    margin-top: 8px;
}

.valor strong{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: -.02em;
    color: white;
    margin-bottom: 8px;
}

.comprar{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    background-color: white;
    font-weight: 600;
    color: #0c3883;
    border-radius: 8px;
    height: 33px;
}

.comprar:hover{
    background-color: #0c3883;
    color: white;
}

@media only screen and (max-width:850px){
    main{
        height: 200vh;
    }

    #destaques{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .container-vertical{
        width: 100%;
        height: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 10px 0px;
    }
    #destaques .vertical{
        transform: rotate(270deg);
        font-size: 2rem;
    }
    
    .container-promo{
        flex-direction: column;
    }
    
    .container-card{
        width: 90%;     
        margin: 20px;
    }

    .img-card{
        background-position: center;
    
    }
    
}








